<div class="container-default form" style="width: 450px; height: 450px; position: relative; font-size: 100px;">
  <div id="page1" class="hide"><p id="text001" class="element-text001" style="position: absolute; left: 12.296%; top: 14.112%; font-size: 0.16em; width: 30%; height: 10%">Nuevo texto</p><button id="button001" class="element-button001 Submit" style="position: absolute; left: 31.852%; top: 68.334%; font-size: 0.16em; width: 25%; height: 8%">Botón</button><input id="input001" class="element-input001" type="text" placeholder="Escribe aquí..." style="position: absolute; left: 13.63%; top: 38.334%; font-size: 0.16em; width: 45.889%; height: 6.667%" fieldname="Input1"><button id="button002" class="element-button002 NextPage" style="position: absolute; left: 65.852%; top: 57.445%; font-size: 0.16em; width: 25%; height: 8%;">&gt;</button></div>
<div id="page2" style="position: absolute; width: 100%; height: 100%;" class=""><button id="button003" class="element-button003 PrevPage" style="position: absolute; left: 68.741%; top: 59.889%; font-size: 0.16em; width: 25%; height: 8%">&lt;</button><div id="div.timer001" class="element-div.timer001 timer timer-preview" data-seconds="2" data-action="Submit" style="position: absolute; left: 40.074%; top: 26.112%; font-size: 0.16em; width: 10%; height: 10%; opacity: 0.7; font-size: 36.0%;">⏱️</div><p id="text002" class="element-text002" style="position: absolute; left: 39.186%; top: 15.89%; font-size: 0.16em; width: 30%; height: 10%">Timer 2 segundos</p></div></div><style id="dynamic-styles">
.container-default { background: linear-gradient(135deg, #7b76b9 0%, #7b76b9 100%); border-radius: 5%; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; font-family: Arial, sans-serif; box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px; }
.element-text001 { }
.element-text001:hover { }
.element-text001.active { }
.element-text001.active:hover { }
.element-image001 { }
.element-image001:hover { }
.element-image001.active { }
.element-image001.active:hover { }
.element-button001 { }
.element-button001:hover { }
.element-button001.active { }
.element-button001.active:hover { }
.element-input001 { }
.element-input001:hover { }
.element-input001.active { }
.element-input001.active:hover { }
.element-button002 { }
.element-button002:hover { }
.element-button002.active { }
.element-button002.active:hover { }
.element-button003 { }
.element-button003:hover { }
.element-button003.active { }
.element-button003.active:hover { }
.element-div.timer001 { }
.element-div.timer001:hover { }
.element-div.timer001.active { }
.element-div.timer001.active:hover { }
.element-text002 { }
.element-text002:hover { }
.element-text002.active { }
.element-text002.active:hover { }
</style>