<div
    style="width: 450px; height: 450px; background: linear-gradient(135deg, rgb(76, 45, 85) 0%, rgb(76, 29, 122) 100%); border-radius: 5%; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; font-family: Arial, sans-serif; box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px; font-size: 100px;" > 

    <img src=" logo.svg" style="width: 40%; height: auto; margin: 3%;" alt="Splash">
    <div
        style="margin-bottom: 5%; width: 10%; height: 10%; background: rgba(253, 240, 240, 1); border-radius: 50%; display: flex; justify-content: center; align-items: center; animation: pulse 2s infinite;">
        <img src="imago.svg" style="width: 50%; height: auto;" alt="Splash">
    </div>   
   
    

    <p style="font-size: 0.3em; margin: 0; text-align: center;">%TEXTO%</p>
    
    
</div>
<style> @keyframes pulse { 0% { transform: scale(1); } 50% { transform: scale(1.1); } 100% { transform: scale(1); } } </style>